body{
	 background-image: url("bgprank.jpg");
	 background-attachment: fixed;
	background-size: 100px;
	background-repea:no-repeat;
}
html{
	font-size: 10px;
}
h1{
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	color: red;
	font-size: 4rem;
	white-space: nowrap;
}
