body{
	 background-image: url("bgprank.jpg");
	 background-size: 100px;
	 animation: animatebg 0.75s linear infinite alternate;
}
@keyframes animatebg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50% 10%;
  }
}
html{
	font-size: 10px;
}
h1{
	position: absolute;
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	color: red;
	font-size: 4rem;
	white-space: nowrap;
	animation: animateprank 0.75s linear infinite alternate;
}
@keyframes animateprank{
	from{
	color:red;
	}
	to{
	color:yellow;
	}
}
