body{
	margin: 0;
	padding: 0;
	background-image: url(Facebook.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
html{
	font-size: 10px;
}
h4{
	margin-top: 2rem;
	font-size: 4rem;
	color: white;
	text-shadow: 0px 5px black;
	margin-right: 1.75rem;
}
h6{
	margin-left: -1.35rem;
	font-size: 10px;
	white-space: nowrap;
}
p{
	font-size: 1.75rem;
	color: white;
	font-style: monospace;
}
form{
	margin-top: -3rem;
}
input[type="text"], input[type="password"]{
	
	padding: 5px 5px;
	border: 1px solid black;
	border-right: none;
	border-top: none;
	outline: none;
	background-color: white;
	color:black;
	font-style: monospace;

}
input[type="submit"]{

	padding: 1rem 4rem;
	background-color:#32CD32;
	color: white;
	border-radius: 2rem;
	outline: none;
	transition: color, background-color 0.35s ease-in-out;
	margin-left: -1rem;
}
input[type="submit"]:hover{
	
	color:black;
	cursor: pointer;
	background-color: white;
}

.reg{

	position: absolute;
	padding: 1rem 7.90rem;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 35rem;
	height: 35rem;
	background-color: #4267B2;
	border:3px solid white;
}
